# IDEs
.idea/
.vscode/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Go workspace file
go.work
go.work.sum

# env file
.env

# Temp logs
/tmp

# Redis
redis-data/
redis.conf